/App
/Apps
/artworks-000607768162-a7r640-t500x500.jpg
/Assignment 2.py
/Attachments
/Bottel Stoor.py
/Data Structures And Algorythms
/DLLs
/Doc
/Exam 3.py
/Exam Question 1.py
/Exam Question 2.py
/Exam.py
/First Website.py
/Graduation
/Herotel.docx
/include
/Java Cert.pdf
/JAVA Script
/Learn C
/Lib
/libs
/LICENSE.txt
/Mary.docx
/NEWS.txt
/Pictures
/Presentation Sandra.pptx
/Python
/Python Assignment Zinathi and Ruan.py
/Python EXE
/python.exe
/python3.dll
/python313.dll
/pythonw.exe
/Scripts
/Steve.py
/tcl
/Untitled-1.py
/vcruntime140.dll
/vcruntime140_1.dll
/VPPP June Exam prep 2.pdf
/VPPP June Exam prep.pdf
/VPPP_Assignment_2024.pdf
/__pycache__